html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

h1 {

}
h2 {

}
h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
h5 {
  font-size: .9em;
  font-weight: 300;
  border: 1px solid #DB5461;
  padding: 2px 5px;
  margin-right: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.wrapper {
  padding: 0px 32px;
  align-items: flex-start;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}
#liip-link:hover {
  color: #6ea644;
}
#malt-link:hover {
  color: #ff5c57;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #00071C;
  color: #fff;
  z-index: 100;
  height: 50px;
}
nav a:hover, .active {
  color: #DB5461 !important;
}
nav > a, nav > ul {
  padding: 1rem 0;
}
nav > ul {
  display: flex;
  text-transform: uppercase;
}
nav > ul > li {
  margin-left: 40px;
}
.logo {
  font-weight: 700;
  font-size: 22px;
  transition: all 0.1s ease;
}
.logo:hover {
  transform: scale(1.05);
}



#skills > ul {
  display: flex;
  flex-wrap: wrap;
}
article {
  display: flex;
}


#work > ul {
  display: flex;
  flex-direction: column;
}
#work li {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #d6d6d6;
}
.card {
  flex-direction: column;
  align-items: center;
}
.card-desc {
  flex-direction: column;
  align-items: center;
}
.card-desc p {
  max-width: 390px;
}
.card p {
  color: #AAABBC;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}
.badge {
  font-size: 12px !important;
  vertical-align: middle !important;
  margin-left: 10px;
  color: #fff;
  background-color: #046E8F;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
.card-cta {
  display: flex;
  justify-content: space-around;
}
.card-btn {
  border: 1px solid transparent;
  border-radius: 30px;
  border-color: #046E8F;
  color: #046E8F;
  padding: 12px 30px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  transition:
    color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
.card-btn:visited {
  color: #046E8F;
}
.card-btn:hover {
  color: white;
  background-color: #046E8F;
}
.card img {
  max-width: 500px;
}





aside {
  min-width: 200px;
  margin-top: 30px;
}
.contact-list {
  display: flex;
  margin-bottom: 30px;
  font-size: 25px;
}
.contact-list a:hover {
  color: #DB5461;
}
.contact-list li {
  margin-left: 10px;
}
.language-list > li {
  margin-bottom: 5px;
}
.lang-lv {
  color: #AAABBC;
}

.to-top {
  position: sticky;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  z-index: 99;
  display: flex;
  justify-content: flex-end;
}
.to-top-btn {
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
  border-color: #80FFE8;
  color: #046E8F !important;
  border-radius: 24px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  line-height: 1.5;
}
.to-top-btn:hover {
  background-color: #80FFE8;
  color: #DB5461 !important;
}

footer {
  background-color: #00071c;
  color: #AAABBC;
  text-align: center;
  padding: 1.25rem;
}
footer a:hover {
  color: #046E8F;
}

@media (min-width: 576px) and (max-width: 991px) {
  h4 {
    font-size: calc(20px + 8 * ((100vw - 576px)/(1200)));
  }
}

@media (min-width: 992px) and (max-width: 1919px){
  h4 {
    font-size: calc(20px + 8 * ((100vw - 576px)/(1200)));
  }
  .wrapper {
    padding: 0px 12.5%;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
  }
  aside {
    position: sticky;
    top: 50vh;
    transform: translateY(-50%);
    margin-top: 0;
  }
  .content {
    margin-left: 5em;
  }
  footer {
    text-align: left;
  }
}

@media (min-width: 1920px) {
  h4 {
    font-size: 28px;
  }
  .wrapper {
    padding: 0px 12.5%;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
  }
  aside {
    position: sticky;
    top: 50vh;
    transform: translateY(-50%);
    margin-top: 0;
  }
  .content {
    margin-left: 5em;
  }
  .card {
    flex-direction: row;
  }
  footer {
    text-align: left;
  }
}