/* GENERAL */
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  height: auto;
  width: calc(100vw - 64px);
  font-size: 16px;
  line-height: 1.5em;
  color: #AAABBC;
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
h2 {
  height: auto;
  width: calc(100vw - 64px);
  font-size: 28px;
  line-height: 1.5em;
  font-weight: 700;
}
h3 {
  color: #046E8F;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
a, a:visited {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  padding: 0px 32px;
  align-items: flex-start;
}
#about, #skills, #work {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

/* HEADER */
header {
  background-color: #00071c;
  color: white;
  height: 100vh;
  transition: 0.5s background ease-in-out, 0.5s opacity ease-in-out ;
  margin-bottom: 5vh;
}
.landing {
  height: 100vh;
  padding-bottom: 5vh !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro {
  height: 100vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: type 4s;
  overflow: hidden;
}
.intro h2:first-of-type { 
  animation-delay: .5s;
}
.intro h2:last-of-type {
  animation-delay: 1s;
}
.arrow {
  color: #AAABBC;
  opacity: 0;
  font-size: 14px;
  font-weight: 400;
  animation: fadeIn 0.75s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#liip-link:hover {
  color: #6ea644;
}
#malt-link:hover {
  color: #ff5c57;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #00071C;
  color: #fff;
  z-index: 100;
  transition: 0.5s background ease-in-out, 0.5s opacity ease-in-out ;
  align-items: center !important;
}
nav a:hover, .active {
  color: #DB5461 !important;
}
nav > a, nav > ul {
  padding: 1rem 0;
}
nav > ul {
  display: flex;
  text-transform: uppercase;
}
nav > ul > li {
  margin-left: 40px;
}
.logo {
  font-weight: 700;
  font-size: 22px;
  transition: all 0.1s ease;
}
.logo:hover {
  transform: scale(1.05);
}

/* ABOUT */
#about p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 36px;
}
.resume {
  width: 140px;
  height: 2em;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #046E8F;
  color: #046E8F !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
.resume:hover {
  background-color: #046E8F;
  color: white !important;
}

/* SKILLS */
#skills > ul {
  display: flex;
  flex-wrap: wrap;
}
#skills li {
  font-size: .9em;
  font-weight: 300;
  border: 1px solid #DB5461;
  border-radius: 30px;
  background-color: #DB5461;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

/* WORK */
#work ul, .card, .card-demo, .card-desc {
  display: flex;
  flex-direction: column;
}
#work li {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #AAABBC;
}
.card-demo, .card-desc {
  width: 100%;
}
.card-demo {
  align-items: center;
}
.card-demo img {
  max-width: 350px;
  height: auto;
}
.card-desc {
  text-align: center;
}
.card-desc p {
  max-width: 390px;
  align-self: center;
  color: #AAABBC;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 30px;
}
.badge {
  font-size: 12px !important;
  vertical-align: middle !important;
  margin-left: 10px;
  color: white;
  background-color: #046E8F;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
.card-btn {
  border: 1px solid transparent;
  border-radius: 30px;
  border-color: #046E8F;
  color: #046E8F;
  padding: 12px 30px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  transition:
    color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}
.card-btn:visited {
  color: #046E8F;
}
.card-btn:hover {
  color: white;
  background-color: #046E8F;
}

/* SIDEBAR */
aside {
  min-width: 200px;
  transition: 0.5s background ease-in-out, 0.5s opacity ease-in-out ;
}
.contact-list {
  display: flex;
  margin-bottom: 30px;
  font-size: 25px;
}
.contact-list a:hover {
  color: #DB5461;
}
.contact-list li {
  margin-left: 10px;
}
.language-list > li {
  margin-bottom: 5px;
}
.lang-lv {
  color: #AAABBC;
}

/* TO TOP BUTTON */
.to-top {
  position: sticky;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  z-index: 99;
  display: flex;
  justify-content: flex-end;
  transition: 0.5s background ease-in-out, 0.5s opacity ease-in-out ;
}
.to-top-btn {
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
  border-color: #046E8F;
  color: #046E8F !important;
  border-radius: 24px;
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
  line-height: 1.8;
}
.to-top-btn:hover {
  background-color: #046E8F;
  color: #DB5461 !important;
}

/* FOOTER */
footer {
  background-color: #00071c;
  color: #AAABBC;
  text-align: center;
  padding: 1.25rem;
}
footer a:hover {
  color: #046E8F;
}

/* ANIMATIONS */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0px);
  }
}

@keyframes type {
  0% {
    opacity: 0;
    width: 0%;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

/* MEDIA QUERIES */
@media (min-width: 576px) and (max-width: 991px) {
  h1 {
    width: calc(66.666vw - 32px);
    font-size: 16px;
  }
  h2 {
    width: calc(66.666vw - 32px);
    font-size: 32px;
  }
  h3 {
    font-size: calc(22px + 12 * ((100vw - 576px)/(1200)));
  }
  h4 {
    font-size: calc(20px + 8 * ((100vw - 576px)/(1200)));
  }
  .card-demo img {
    max-width: 450px;
  }
}

@media (min-width: 992px) and (max-width: 1919px){
  h1 {
    width: calc(75vw);
    font-size: 18px;
  }
  h2 {
    width: calc(75vw);
    font-size: 36px;
  }
  h3 {
    font-size: 34px;
  }
  h4 {
    font-size: calc(20px + 8 * ((100vw - 576px)/(1200)));
  }
  .intro {
    animation: type 6s;  
  }
  .arrow {
    animation-delay: 3s;
  }
  .wrapper {
    padding: 0px 12.5%;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
  }
  aside {
    position: sticky;
    top: 50vh;
    transform: translateY(-50%);
    margin-top: 0;
  }
  .content {
    margin-left: 5em;
  }
  .card-demo img {
    max-width: 450px;
  }
  footer {
    text-align: left;
  }
}

@media (min-width: 1920px) {
  h1 {
    width: calc(75vw);
    font-size: 20px;
  }
  h2 {
    width: calc(75vw);
    font-size: 42px;
  }
  h3 {
    font-size: 34px;
  }
  h4 {
    font-size: 28px;
  }
  .intro {
    animation: type 6s;  
  }
  .arrow {
    font-size: 16px;
    animation-delay: 3s;
  }
  .wrapper {
    padding: 0px 12.5%;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
  }
  aside {
    position: sticky;
    top: 50vh;
    transform: translateY(-50%);
    margin-top: 0;
  }
  .content {
    margin-left: 5em;
  }
  #about p {
    line-height: 30px;
    margin: 0px 0px 2em 0px;
    font-size: 18px;
  }
  .resume {
    font-size: 16px;
    width: 160px;
  }
  #work li {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .card {
    flex-direction: row;
  }
  .card-demo img {
    max-width: 450px;
  }
  .card-desc p {
    max-width: unset;
  }
  footer {
    text-align: left;
  }
}